# Basic filtering dataset LOCSS

In [44]:
import pandas as pd
import os


current_dir=os.getcwd()
current_dir

'/home/angelica/Dropbox/apps/python_pychm/locss/src'

Read coodinates and data

In [45]:
df_locss=pd.read_csv('../data/readings.csv')
df_coord_locss=pd.read_csv('../data/Gauges_Coordinates.csv')

Get number of records by station

In [46]:
#filter stations 119 
df_locss=df_locss.loc[df_locss['gauge_id']!='119']

In [47]:
#Define functions

#format dataframe
def format_df_stats(stat_df, id_fd, df_base_fd):
    stats_fd=['count','mean','std','min','25c','50c','75c','max']
    name_vs=[]
    for vfd in df_base_fd:
        name_vs=name_vs+[vfd+'_'+sfd for sfd in stats_fd]
    new_colnames=id_fd+name_vs
    stat_df.columns=new_colnames
    return stat_df

In [48]:
#how many data per station do we have 
df_locss_records=df_locss.groupby('gauge_id').describe().reset_index()
df_locss_records
id_fd=['gauge_id']
df_base_fd=['height']
df_locss_stats=format_df_stats(df_locss_records, id_fd, df_base_fd)

In [49]:
## Lakes to filter 

#Test gauges 119, MFN2 and BPN2
#Total  gauges without enough data New york: 9, total from Bangladesh: 26
filter_lakes=["MFN2","BPN2","119",
              "BRK2","CQK2","CHK2","CSK2","DPK2","LNK2","LPK2","NAK2","RLK2",
"ABB2",
"ADB2",
"BBB2",
"BHB2",
"BNB2",
"BPB2",
"BTB2",
"CCB2",
"CGB2",
"CRB2",
"CTB2",
"DAB2",
"DCB2",
"DHB2",
"DLB2",
"EDB2",
"GBB2",
"JSB2",
"KJB2",
"KSB2",
"KTB2",
"MGB2",
"MKB2",
"PTB2",
"RMB2",
"RUB2",
"SBB2"]

In [50]:
df_locss_f=df_locss.loc[~df_locss['gauge_id'].isin(filter_lakes)]

In [ ]:
df_locss_stats_f=df_locss_stats.loc[~df_locss_stats['gauge_id'].isin(filter_lakes)]
df_locss_stats_f.to_csv('../data/stats_station.csv')

In [2]:
#Last 2 digits indicating state/region/country...can it be standarized to represent the country?
#What the two first digits mean?

#Names of sites
#NC: N2, New York K2, Washinton W2, Illinois L2, Massachusetts A2, New Hampshire H2, 

#Canada T2, France R2, Bangladesh B2, Indian D2, Pakistan P2, Nepal V2

In [51]:
df_locss_f.shape

(19553, 8)

In [64]:
#Add the country
regions={'N2':'US', 'K2':'US','W2':'US','L2':'US','A2':'US','H2':'US',
        'T2':'CA', 'R2':'FR','B2':'BD','D2':'IN','P2':'PK', 'V2':'NP'}

subregions={'N2':'NC', 'K2':'NY','W2':'WA','L2':'IL','A2':'MA','H2':'NH'}
df_new=df_locss_f.copy()
variable=pd.Series([regions[id[2:4]] for id in df_locss_f['gauge_id']])

In [66]:
df_new['country']=variable

In [67]:
from plotly.subplots import make_subplots
import plotly.graph_objects as go

fig = make_subplots(rows=3, cols=1)
for r in regions:
    df_subset=df_new.loc[df_new['country']==regions[r]]

,gauge_id,name,date,time,height,is_bubble_level_okay,notes,phone_no,country
8,AFR2,Étang de Fontargente - 1,2021-08-05,12:00:00,2195.045,Yes,NaN,NaN,FR
9,AFR2,Étang de Fontargente - 1,2021-08-05,12:00:00,2195.045,Yes,NaN,33669458621,FR
10,AFR2,Étang de Fontargente - 1,2021-07-11,12:00:00,2195.000,Yes,NaN,33699261282,FR
11,AFR2,Étang de Fontargente - 1,2021-07-14,13:00:00,2194.976,Yes,NaN,33609072718,FR
12,AFR2,Étang de Fontargente - 1,2021-07-16,13:00:00,2194.970,Yes,NaN,33688424709,FR

In [3]:
df_locss=pd.read_csv('../data/readings.csv')
df_locss_f=df_locss.loc[~df_locss['gauge_id'].isin(filter_lakes)]
df_locss_f=

array(['R2', 'H2', 'K2', 'B2', 'D2', 'N2', 'W2', 'A2', 'L2', 'T2', 'V2',
       'P2'], dtype=object)