This script will
- Get data from stations
- Get processed altimeter data
- Plot data location
- Plot time series altimeter and station
- Calculate and Plot accuracies
- Separate low level from high levels

In [4]:
from ground_data import GroundObservations
from ts_preprocesing import get_date_time_cols
from ts_preprocesing import convert_units
import importlib
import pandas as pd
import os
import datetime as dt
%load_ext autoreload
%autoreload 2

In [6]:
#Test Getting data from stations
#So far what works
# Getting locss stations
# Getting ARHN stations 
# Getting USGS stations from file. Still working on R script connection
go=GroundObservations()
lc_lakes=['KHB2','HMT2','PHN2','SAW2','RAW2','BTN2']
df_locss=go.read_ground_data('LOCSS', station_id=lc_lakes)
df_locss=get_date_time_cols(df_locss, 'date')
stations=df_locss['gauge_id'].unique()
height_fd='height'

df_final=convert_units(df_locss,height_fd, origin='FEET', to='METER', check_col=True, unit_fd='unit',
                  gauge_fd='gauge_id')

# df_final=pd.DataFrame()
# for lc in stations:
#     df=df_locss.loc[df_locss['gauge_id']==lc].copy()
#     units=df['unit'].iloc[0]
#     if units=='FEET':
#         print(df[height_fd].head())
#         df.loc[:, height_fd+'_m']=df[height_fd]/3.2808
#         print(df[height_fd+'_m'].head())
#     else:
#         df.loc[:, height_fd+'_m']=df[height_fd]
#     df_final=pd.concat((df_final,df), axis=0)
#     # df=convert_units(df,'height', from='FEET', to='METER', multiple=True)
    

    
#     print(units, lc)
# df_final=df_final.rename(columns={'height':'height_rw', 'height_m':'height'})
#df_final['height'].hist()
print('\n',df_final.shape)#['gauge_id'].unique())
print('\n',df_locss.shape)#['gauge_id'].unique())
print(df_final.columns)

import seaborn as sns
import matplotlib.pyplot as plt

sns.set(style='whitegrid')

fig, axis=plt.subplots(2,2, figsize=(7,7))
sns.displot(data=df_final, x='height', col='gauge_id')
sns.displot(data=df_locss, x='height', col='gauge_id')


    #units=df_locss['unit'].iloc[0]
# print(df_locss.gauge_id.unique())
# print(df_locss.head(2))

# ar_lakes=['1805', '1819', '1824', '2830', '1830','2832', '2028','2102','2231','2234','2300','2316']
# skip_rows=1
# df_arhn=go.read_ground_data('ARHN', skip_rows=skip_rows, station_id=ar_lakes)
# df_arhn=get_date_time_cols(df_arhn, 'date')
# # print(df_arhn.gauge_id.unique())
# # print('/n..................../n',df_arhn.head(2))

# us_lakes=['2464800','6903880','6604000']
# df_usgs=go.read_ground_data('USGS',station_id=us_lakes)
# df_usgs=get_date_time_cols(df_usgs, 'date')
# # print(df_usgs.site_no.unique())
# # print(df_usgs.head(2))

NameError: name 'unit' is not defined

In [48]:
df1=go.read_ground_data('LOCSS', station_id=lc_lakes)
# df.shape
# df_locss_filtered=df.loc[df['gauge_id'].isin(lc_lakes)]
# df_locss_filtered.shape
x=df1['gauge_id'].unique()
for a in x:
    print(df1.loc[df1['gauge_id']==a].shape)

(536, 24)
(53, 24)
(170, 24)
(256, 24)
(109, 24)
(393, 24)

In [13]:
df_arhn.head(3)

,date,height,source,gauge_id,year,month,day,hour,decimal_y
0,2010-03-01 12:00:00,2.30,ARHN,2830,2010,3,1,12,2010.163014
1,2010-03-02 12:00:00,2.30,ARHN,2830,2010,3,2,12,2010.165753
2,2010-03-03 13:00:00,2.31,ARHN,2830,2010,3,3,12,2010.168493

In [14]:
df_usgs.head(3)

,Unnamed: 0,agency_cd,gauge_id,date,height,X_00065_00003_cd,source,year,month,day,hour,decimal_y
0,1,USGS,2464800,2002-07-04,223.73,A,USGS,2002,7,4,12,2002.505479
1,2,USGS,2464800,2002-07-05,223.66,A,USGS,2002,7,5,12,2002.508219
2,3,USGS,2464800,2002-07-06,223.61,A,USGS,2002,7,6,12,2002.510959