## From 
https://www.rasgoml.com/feature-engineering-tutorials/backward-stepwise-feature-selection-with-scikit-learn

In [2]:

import statsmodels.api as sm
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.linear_model import LinearRegression
from sklearn.datasets import load_iris
# import category_encoders as ce

from sklearn.ensemble import GradientBoostingRegressor

In [10]:
import itertools
import time
import numpy as np
import pandas as pd
import seaborn as sns
import statsmodels.api as sm
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.metrics import mean_squared_error

%matplotlib inline
plt.style.use('ggplot')

In [11]:
import geopandas as gpd
import pandas as pd
import matplotlib.pyplot as plt
from icecream import ic
import seaborn as sns
import matplotlib as plt
import pandas as pd
from datetime import datetime

In [ ]:
### Predictors I should pick
1. Length of the orbit crossing the lake: orbit_leng
2. Area of the lake influence by the orbit: area_buffe
3. Lake area: Lake_area
4. Topography roughness: TRI_mdn
5. Variability of Lake surface water elevation (Option 1): APL
6. Variability of Lake surface water elevation (Option 2 flashiness index Baker 2004): rb_index
##3 Reponse variables to try

In [26]:
#Bring the data 

path_win='/home/angelica/Dropbox/apps/python_pychm/locss/data/area_orbits_in_lakes/area_orbits_in_lakes_single.shp'


df_shp_lenghts=gpd.read_file(path_win)
df_shp_lenghts.head()
path_results='../data/results/comparison__20221110_16_03.csv'

# path_results='../data/results/comparison_ALL_20220906_16_59.csv'

df_results=pd.read_csv(path_results)
# print(df_results.head())
# df_shp_lenghts.head()
ic(df_results.columns)
ic(df_shp_lenghts.columns)

ic| df_results.columns: Index(['Unnamed: 0', 'station', 'altis', 'name_altis', 'source', 'method', 'R',
                               'PR_pvalue', 'RHO', 'RHO_pvalue', 'NSF', 'RMSE', 'APL', 'VE', 'cv_obs',
                               'n_obs', 'sat_min_utcdate', 'sat_max_utcdate', 'grd_min_utcdate',
                               'grd_max_utcdate'],
                              dtype='object')
ic| df_shp_lenghts.columns: Index(['Slope_100', 'Lake_type', 'Lake_area', 'lake_name', 'Wshd_area',
                                   'Pour_long', 'source', 'Hylak_id', 'Computed', 'layer', 'Elevation',
                                   'orbit_leng', 'gauge_id', 'Pour_lat', 'area_buffe', 'Country',
                                   'new_area_l', 'USE', 'VS', 'geometry'],
                                  dtype='object')

Index(['Slope_100', 'Lake_type', 'Lake_area', 'lake_name', 'Wshd_area',
       'Pour_long', 'source', 'Hylak_id', 'Computed', 'layer', 'Elevation',
       'orbit_leng', 'gauge_id', 'Pour_lat', 'area_buffe', 'Country',
       'new_area_l', 'USE', 'VS', 'geometry'],
      dtype='object')

In [25]:
df_shp_lenghts[['gauge_id','area_buffe', 'VS']]

   gauge_id  area_buffe                                       VS
0      BLB2    3.366620                                     None
1      MTN2   16.461329                                     None
2      RLH2    0.158237                                     None
3      SPA2    0.218026  AlTiS_TimeSeries_Sentinel-3A_0291_N4175
4     12056    0.766943                                     None
..      ...         ...                                      ...
64     SKT2    4.754566  AlTiS_TimeSeries_Sentinel-3B_0054_N5464
65     TAB2    4.604999  AlTiS_TimeSeries_Sentinel-3A_0193_N2515
66     TAB2    4.230661                                     None
67     TAB2    4.230661                                     None
68     KHB2    0.989256  AlTiS_TimeSeries_Sentinel-3A_0522_N2294

[69 rows x 3 columns]

In [27]:
df_results[['name_altis']]

                                           name_altis
0             AlTiS_TimeSeries_Sentinel-3A_0261_S0424
1           AlTiS_TimeSeries_Jason-3_GDR_F_0087_S0424
2           AlTiS_TimeSeries_Jason-3_GDR_F_0087_S0420
3             AlTiS_TimeSeries_Sentinel-3A_0104_S0424
4   AlTiS_TimeSeries_Jason-3_GDR_Ffrom2021Test_016...
5    AlTiS_TimeSeries_Jason-3_GDR_FallTest_0163_S0764
6        AlTiS_TimeSeries_Sentinel-3B_land_0446_S0765
7        AlTiS_TimeSeries_Sentinel-3B_land_0446_S0806
8        AlTiS_TimeSeries_Sentinel-3A_land_0760_S0901
9             AlTiS_TimeSeries_Sentinel-3A_0636_N2354
10            AlTiS_TimeSeries_Sentinel-3B_0691_N3466
11            AlTiS_TimeSeries_Sentinel-3B_0480_N4348
12            AlTiS_TimeSeries_Sentinel-3A_0035_N3493
13            AlTiS_TimeSeries_Sentinel-3B_0622_N4194
14            AlTiS_TimeSeries_Sentinel-3B_0622_N4234
15            AlTiS_TimeSeries_Sentinel-3A_0351_N5346
16            AlTiS_TimeSeries_Sentinel-3A_0522_N2294
17            AlTiS_TimeSeries_Sentinel-3B_0020_S4492
18          AlTiS_TimeSeries_Jason-3_GDR_F_0215_S4017
19            AlTiS_TimeSeries_Sentinel-3A_0749_S4016
20                AlTiS_TimeSeries_Jason-3_0215_S4017
21            AlTiS_TimeSeries_Sentinel-3A_0562_S4128
22            AlTiS_TimeSeries_Sentinel-3A_0676_S4325
23            AlTiS_TimeSeries_Sentinel-3A_0635_S4324
24       AlTiS_TimeSeries_Sentinel-3B_land_0022_N3549
25       AlTiS_TimeSeries_Sentinel-3B_land_0022_N3549
26            AlTiS_TimeSeries_Sentinel-3A_0149_N3577
27            AlTiS_TimeSeries_Sentinel-3A_0149_N3577
28            AlTiS_TimeSeries_Sentinel-3A_0026_N4756
29            AlTiS_TimeSeries_Sentinel-3A_0194_N3338
30            AlTiS_TimeSeries_Sentinel-3A_0637_N4783
31            AlTiS_TimeSeries_Sentinel-3A_0076_S2588
32                AlTiS_TimeSeries_Jason-3_0011_S2599
33            AlTiS_TimeSeries_Sentinel-3A_0635_N4086
34            AlTiS_TimeSeries_Sentinel-3B_0549_N4183
35            AlTiS_TimeSeries_Sentinel-3A_0193_N2515
36        AlTiS_TimeSeries_Sentinel-3A_new_0190_S2751
37            AlTiS_TimeSeries_Sentinel-3A_0560_S0953

In [28]:
df_merged=pd.merge(df_results,df_shp_lenghts, left_on='name_altis', right_on='VS', how='left')
# df_merged=df_merged.loc[df_merged['source_x']=='LOCSS']
# df_merged=df_merged.loc[~(df_merged['USE'].isnull())]
# df_merged=df_merged.loc[df_merged['USE']!='N']
df_merged.shape
# df_merged.loc[df_merged['r2'].notna()]
df_merged[['station','lake_name','orbit_leng','Lake_area', 'RHO', 'area_buffe']]

,station,lake_name,orbit_leng,Lake_area,RHO,area_buffe
0,12030,Aï¿½ude Araras,3055.960550,67.41,0.928,5.752967
1,12030,Aï¿½ude Araras,3055.960550,67.41,0.928,5.752967
2,12030,NaN,NaN,NaN,0.993,NaN
3,12030,NaN,NaN,NaN,0.967,NaN
4,12030,Aï¿½ude Araras,1442.903457,67.41,0.975,2.929606
5,12030,Aï¿½ude Araras,3055.960550,67.41,0.975,5.752967
6,12036,NaN,NaN,NaN,0.955,NaN
7,12036,NaN,NaN,NaN,-0.448,NaN
8,12036,NaN,NaN,NaN,0.989,NaN
9,12056,NaN,NaN,NaN,-0.643,NaN
10,12327,NaN,NaN,NaN,0.994,NaN
11,BLB2,NaN,NaN,NaN,0.607,NaN
12,BTN2,Bay Tree Lake,2681.723264,5.61,0.544,4.099331
13,6604000,Big Spirit,4748.170031,21.30,0.799,7.483906
14,CFN2,NaN,NaN,NaN,0.669,NaN
15,QUL2,Deep Quarry Lake,429.638719,0.27,0.500,0.265947
16,YSL2,NaN,NaN,NaN,0.018,NaN
17,HMT2,Half Moon Lake,245.740366,0.37,0.888,0.350986
18,KHB2,Khajura Baor,1402.626279,1.55,0.577,0.989256
19,2316,Fontana,4523.697188,80.70,0.921,9.202633
20,2028,NaN,NaN,NaN,0.912,NaN
21,2028,Lago Lacar,2045.578025,50.67,0.966,4.379976
22,2028,NaN,NaN,NaN,0.894,NaN
23,1824,Lago Mascardi,1010.538390,36.62,0.924,2.051678
24,2234,NaN,NaN,NaN,0.650,NaN
25,2234,Lago Rosario,855.466555,8.90,0.696,1.628979
26,2234,Lago Rosario,639.373691,8.90,0.696,1.177066
27,VCN2,NaN,NaN,NaN,0.609,NaN
28,MTN2,NaN,NaN,NaN,0.376,NaN
29,FDN2,Phelps Lake,2651.700652,63.07,0.267,4.214840
30,PHN2,Phelps Lake,2651.700652,63.07,0.471,4.214840
31,SAW2,Lake Sammamish,1842.416622,18.74,0.813,2.598120
32,2464800,Lake Tuscaloosa,499.754420,18.05,0.854,1.006104
33,WEW2,Lake Wenatchee,876.480034,9.40,0.903,1.825559
34,19060,UHE Governador Ney Aminthas de Barro,2527.559871,74.07,0.972,4.509259
35,19060,UHE Governador Ney Aminthas de Barro,2527.559871,74.07,0.972,4.509259
36,19060,UHE Governador Ney Aminthas de Barro,848.708921,74.07,0.902,1.910357
37,19060,UHE Governador Ney Aminthas de Barro,848.708921,74.07,0.902,1.910357
38,19060,UHE Governador Ney Aminthas de Barro,848.708921,74.07,0.902,1.910357
39,6903880,Rathbun Lake,3432.423569,50.59,0.898,6.258646
40,6903880,Rathbun Lake,3432.423569,50.59,0.898,6.258646
41,SLL2,Silver Lake,165.745118,0.24,0.641,0.245227
42,TAB2,Tanguar Haor,2627.689627,59.71,0.833,4.604999
43,19069,NaN,NaN,NaN,0.997,NaN
44,19126,UHE Xingï¿½,1131.597286,62.36,0.627,2.140807
45,19126,UHE Xingï¿½,1146.301497,62.36,0.627,2.381424

In [29]:
df_merged.loc[df_merged['station']=='CFN2','orbit_leng' ]=0
df_merged.loc[df_merged['station']=='CFN2','lake_name' ]='Catfish'
df_merged.loc[df_merged['station']=='CFN2','Lake_area' ]=3.72
df_merged.loc[df_merged['station']=='CFN2','area_buffe' ]=0
df_merged.loc[df_merged['station']=='YSL2','orbit_leng' ]=0
df_merged.loc[df_merged['station']=='YSL2','lake_name' ]='Grays'
df_merged.loc[df_merged['station']=='YSL2','Lake_area' ]=0.27
df_merged.loc[df_merged['station']=='YSL2','area_buffe' ]=0

#Exclude RAW2
df_merged=df_merged.loc[df_merged['station']!='RAW2']
df_merged['per_area_c']=df_merged['area_buffe']/df_merged['Lake_area']

#Format all the names 
df_merged['lake_name']=df_merged['lake_name'].str.replace('Lake', '')
df_merged[['station','lake_name','orbit_leng','Lake_area', 'RHO', 'per_area_c', 'APL']]

,station,lake_name,orbit_leng,Lake_area,RHO,per_area_c,APL
0,12030,Aï¿½ude Araras,3055.960550,67.41,0.928,0.085343,18.239
1,12030,Aï¿½ude Araras,3055.960550,67.41,0.928,0.085343,18.239
2,12030,NaN,NaN,NaN,0.993,NaN,23.423
3,12030,NaN,NaN,NaN,0.967,NaN,19.044
4,12030,Aï¿½ude Araras,1442.903457,67.41,0.975,0.043460,16.456
5,12030,Aï¿½ude Araras,3055.960550,67.41,0.975,0.085343,16.456
6,12036,NaN,NaN,NaN,0.955,NaN,13.516
7,12036,NaN,NaN,NaN,-0.448,NaN,143.107
8,12036,NaN,NaN,NaN,0.989,NaN,15.845
9,12056,NaN,NaN,NaN,-0.643,NaN,15.756
10,12327,NaN,NaN,NaN,0.994,NaN,2.861
11,BLB2,NaN,NaN,NaN,0.607,NaN,2.197
12,BTN2,Bay Tree,2681.723264,5.61,0.544,0.730719,0.593
13,6604000,Big Spirit,4748.170031,21.30,0.799,0.351357,1.626
14,CFN2,Catfish,0.000000,3.72,0.669,0.000000,0.520
15,QUL2,Deep Quarry,429.638719,0.27,0.500,0.984989,0.650
16,YSL2,Grays,0.000000,0.27,0.018,0.000000,1.300
17,HMT2,Half Moon,245.740366,0.37,0.888,0.948612,0.489
18,KHB2,Khajura Baor,1402.626279,1.55,0.577,0.638230,0.690
19,2316,Fontana,4523.697188,80.70,0.921,0.114035,0.833
20,2028,NaN,NaN,NaN,0.912,NaN,2.266
21,2028,Lago Lacar,2045.578025,50.67,0.966,0.086441,1.860
22,2028,NaN,NaN,NaN,0.894,NaN,2.321
23,1824,Lago Mascardi,1010.538390,36.62,0.924,0.056026,1.148
24,2234,NaN,NaN,NaN,0.650,NaN,1.025
25,2234,Lago Rosario,855.466555,8.90,0.696,0.183031,0.686
26,2234,Lago Rosario,639.373691,8.90,0.696,0.132255,0.686
27,VCN2,NaN,NaN,NaN,0.609,NaN,0.569
28,MTN2,NaN,NaN,NaN,0.376,NaN,0.508
29,FDN2,Phelps,2651.700652,63.07,0.267,0.066828,0.443
30,PHN2,Phelps,2651.700652,63.07,0.471,0.066828,0.325
31,SAW2,Sammamish,1842.416622,18.74,0.813,0.138640,1.470
32,2464800,Tuscaloosa,499.754420,18.05,0.854,0.055740,1.714
33,WEW2,Wenatchee,876.480034,9.40,0.903,0.194208,2.563
34,19060,UHE Governador Ney Aminthas de Barro,2527.559871,74.07,0.972,0.060878,4.774
35,19060,UHE Governador Ney Aminthas de Barro,2527.559871,74.07,0.972,0.060878,4.774
36,19060,UHE Governador Ney Aminthas de Barro,848.708921,74.07,0.902,0.025791,4.544
37,19060,UHE Governador Ney Aminthas de Barro,848.708921,74.07,0.902,0.025791,4.544
38,19060,UHE Governador Ney Aminthas de Barro,848.708921,74.07,0.902,0.025791,4.544
39,6903880,Rathbun,3432.423569,50.59,0.898,0.123713,3.255
40,6903880,Rathbun,3432.423569,50.59,0.898,0.123713,3.255
41,SLL2,Silver,165.745118,0.24,0.641,1.021779,0.834
42,TAB2,Tanguar Haor,2627.689627,59.71,0.833,0.077123,4.589
43,19069,NaN,NaN,NaN,0.997,NaN,11.057
44,19126,UHE Xingï¿½,1131.597286,62.36,0.627,0.034330,0.600
45,19126,UHE Xingï¿½,1146.301497,62.36,0.627,0.038188,0.600

In [30]:
cols=['Lake_area','lake_name','area_buffe','new_area_l','orbit_leng','station','altis','name_altis','rb_index','per_area_c','source_x','RHO', 'NSF','RMSE', 'APL', 'VE', 'n_obs']

df_t=pd.melt(df_merged[cols], id_vars=['Lake_area','lake_name','area_buffe','new_area_l','orbit_leng','station','altis','name_altis', 'source_x','APL', 'VE', 'n_obs'], 
             value_vars=['RHO', 'NSF','RMSE'], ignore_index=True)
df_t['mission']=[x.split('_')[2] for x in df_t['altis']]

df_t.head()

,Lake_area,lake_name,area_buffe,new_area_l,orbit_leng,station,altis,name_altis,source_x,APL,VE,n_obs,variable,value,mission
0,67.41,Aï¿½ude Araras,5.752967,67.705748,3055.960550,12030,12030_AlTiS_TimeSeries_Sentinel-3A_0261_S0424,AlTiS_TimeSeries_Sentinel-3A_0261_S0424,RVBR,18.239,7.452,78,RHO,0.928,TimeSeries
1,67.41,Aï¿½ude Araras,5.752967,67.705748,3055.960550,12030,12030_AlTiS_TimeSeries_Sentinel-3A_0261_S0424,AlTiS_TimeSeries_Sentinel-3A_0261_S0424,RVBR,18.239,7.452,78,RHO,0.928,TimeSeries
2,NaN,NaN,NaN,NaN,NaN,12030,12030_AlTiS_TimeSeries_Jason-3_GDR_F_0087_S0424,AlTiS_TimeSeries_Jason-3_GDR_F_0087_S0424,RVBR,23.423,1.032,205,RHO,0.993,TimeSeries
3,NaN,NaN,NaN,NaN,NaN,12030,12030_AlTiS_TimeSeries_Jason-3_GDR_F_0087_S0420,AlTiS_TimeSeries_Jason-3_GDR_F_0087_S0420,RVBR,19.044,3.085,191,RHO,0.967,TimeSeries
4,67.41,Aï¿½ude Araras,2.929606,67.705748,1442.903457,12030,12030_AlTiS_TimeSeries_Sentinel-3A_0104_S0424,AlTiS_TimeSeries_Sentinel-3A_0104_S0424,RVBR,16.456,3.437,77,RHO,0.975,TimeSeries

In [31]:
#Load TRI 1 and 3 km
import pandas as pd
# df_stats_1km=pd.read_csv('../data/results/TRI_stats_1km.csv', sep=',')
df_stats_3km=pd.read_csv('../data/results/TRI_stats_3km_2.csv', sep=',')
df_t_3km=pd.merge(df_t, df_stats_3km, left_on='station', right_on='gauge_id', how='left')

In [32]:
df_t_3km=df_t_3km.rename(columns={'median':'TRI_mdn'})

In [33]:
df_t_3km_vars=df_t_3km.loc[df_t_3km['variable']=='RHO']

predictors=['Lake_area','orbit_leng', 'area_buffe','TRI_mdn','APL', 'VE', 'n_obs']
df_predictors=df_t_3km_vars[predictors].copy()
outcome=df_t_3km_vars['value'].to_numpy().copy()

In [34]:
plt.plot(df_t_3km['Lake_area'], df_t_3km['per_area_c'],  linestyle='None',marker='o', 
                   markerfacecolor='#20641c',markeredgecolor='#20641c',markersize=5)

AttributeError: module 'matplotlib' has no attribute 'plot'

In [8]:
# Build step forward feature selection
sfs1 = SequentialFeatureSelector(clf,n_features_to_select='auto')

# Perform SFFS
sfs1 = sfs1.fit(X, y)

In [9]:
sfs1

SequentialFeatureSelector(estimator=LinearRegression(),
                          n_features_to_select='auto')