# Basic filtering dataset LOCSS

In [1]:
import pandas as pd
import os
from LOCSS_data_structure import GaugeCollection

current_dir=os.getcwd()
current_dir

'C:\\Users\\amgomez\\Dropbox\\apps\\python_pychm\\pylocss\\src'

Read coodinates and data

In [2]:
df_locss=pd.read_csv('../data/readings.csv')
df_locss=pd.read_csv('../data/readings_up_to_12202021.csv')
df_coord_locss=pd.read_csv('../data/Gauges_Coordinates.csv')

In [3]:
df_coord_locss.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Gauge ID (old)    22 non-null     object
 1   Gauge ID          169 non-null    object
 2   Gauge Name        169 non-null    object
 3   Country           169 non-null    object
 4   City              167 non-null    object
 5   State             114 non-null    object
 6   County            78 non-null     object
 7   Latitude          169 non-null    float64
 8   Longitude         169 non-null    float64
 9   Decimal Degrees   169 non-null    object
 10  Date Installed    62 non-null     object
 11  Initial reading   47 non-null     float64
 12  Landsat 8 Path**  47 non-null     object
 13  Landsat 8 Row**   47 non-null     object
 14  public/private?   27 non-null     object
 15  Notes             49 non-null     object
dtypes: float64(3), object(13)
memory usage: 21.2+ KB

Get number of records by station

In [23]:
gc=GaugeCollection()
fd_id='gauge_id'
df_locss_filtered=gc.filter_test_gages(df_locss,fd_id)
df_locss_filtered.gauge_id.unique().shape
df_stats=df_locss_filtered.groupby(fd_id).describe().reset_index()
id_fd=[fd_id]
df_base_fd=['height']
df_stats=format_df_stats(df_stats, id_fd, df_base_fd)
df_stats_gt2=df_stats.loc[df_stats['height_count']>2]
df_stats_gt2[fd_id]
df_locss_filtered=df_locss_filtered.loc[df_locss_filtered[fd_id].isin(df_stats_gt2[fd_id])]
df_locss_filtered.info()
#convert date field to date
#extract min and max date
#join with coordinates

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21213 entries, 9 to 21291
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   gauge_id              21213 non-null  object
 1   name                  21213 non-null  object
 2   date                  21213 non-null  object
 3   time                  21213 non-null  object
 4   height                21213 non-null  float64
 5   is_bubble_level_okay  15885 non-null  object
 6   notes                 4810 non-null   object
 7   phone_no              12963 non-null  object
dtypes: float64(1), object(7)
memory usage: 1.5+ MB

In [9]:
#Define functions

#format dataframe
def format_df_stats(stat_df, id_fd, df_base_fd):
    stats_fd=['count','mean','std','min','25c','50c','75c','max']
    name_vs=[]
    for vfd in df_base_fd:
        name_vs=name_vs+[vfd+'_'+sfd for sfd in stats_fd]
    new_colnames=id_fd+name_vs
    stat_df.columns=new_colnames
    return stat_df

In [20]:
df_locss_records=df_locss.groupby('gauge_id').describe().reset_index()
df_locss_records.loc[df_locss_records]

    gauge_id height                                                      \
              count         mean         std    min       25%       50%
0        119    9.0   439.036667  773.186215   0.27    12.210    12.210
1       AFR2  142.0  2164.098542  259.525693   0.00  2194.965  2194.995
2       AMH2   18.0     5.572222    0.091043   5.34     5.545     5.580
3       ARH2   26.0     5.252308    0.057432   5.18     5.220     5.245
4       ARK2   27.0    12.439259    0.119612  12.28    12.370    12.410
..       ...    ...          ...         ...    ...       ...       ...
183     WHN2   53.0     1.466604    0.171800   1.06     1.360     1.440
184     XAW2   84.0    -8.109643   29.995289 -99.99     0.730     1.470
185     YAW2  237.0     1.227764    0.769972   0.13     0.550     1.250
186     YSL2  178.0     1.962472    0.409247   0.98     1.820     2.050
187     ZZN2  108.0     2.094074    0.281843   1.00     1.940     2.075


           75%       max
0     234.0000  2222.220
1    2195.0250  2195.175
2       5.6200     5.740
3       5.2675     5.400
4      12.4700    12.700
..         ...       ...
183     1.5600     1.850
184     2.1050     2.700
185     1.7400     3.140
186     2.2200     2.740
187     2.2000     2.860

[188 rows x 9 columns]

In [48]:
#how many data per station do we have 
df_locss_records=df_locss.groupby('gauge_id').describe().reset_index()
df_locss_records
id_fd=['gauge_id']
df_base_fd=['height']
df_locss_stats=format_df_stats(df_locss_records, id_fd, df_base_fd)

In [5]:
## Lakes to filter 

#Test gauges 119, MFN2 and BPN2
#Total  gauges without enough data New york: 9, total from Bangladesh: 26
filter_lakes=["MFN2","BPN2","119",
              "BRK2","CQK2","CHK2","CSK2","DPK2","LNK2","LPK2","NAK2","RLK2",
"ABB2",
"ADB2",
"BBB2",
"BHB2",
"BNB2",
"BPB2",
"BTB2",
"CCB2",
"CGB2",
"CRB2",
"CTB2",
"DAB2",
"DCB2",
"DHB2",
"DLB2",
"EDB2",
"GBB2",
"JSB2",
"KJB2",
"KSB2",
"KTB2",
"MGB2",
"MKB2",
"PTB2",
"RMB2",
"RUB2",
"SBB2"]

In [50]:
df_locss_f=df_locss.loc[~df_locss['gauge_id'].isin(filter_lakes)]

In [ ]:
df_locss_stats_f=df_locss_stats.loc[~df_locss_stats['gauge_id'].isin(filter_lakes)]
df_locss_stats_f.to_csv('../data/stats_station.csv')

In [2]:
#Last 2 digits indicating state/region/country...can it be standarized to represent the country?
#What the two first digits mean?

#Names of sites
#NC: N2, New York K2, Washinton W2, Illinois L2, Massachusetts A2, New Hampshire H2, 

#Canada T2, France R2, Bangladesh B2, Indian D2, Pakistan P2, Nepal V2

In [51]:
df_locss_f.shape

(19553, 8)

In [64]:
#Add the country
regions={'N2':'US', 'K2':'US','W2':'US','L2':'US','A2':'US','H2':'US',
        'T2':'CA', 'R2':'FR','B2':'BD','D2':'IN','P2':'PK', 'V2':'NP'}

subregions={'N2':'NC', 'K2':'NY','W2':'WA','L2':'IL','A2':'MA','H2':'NH'}
df_new=df_locss_f.copy()
variable=pd.Series([regions[id[2:4]] for id in df_locss_f['gauge_id']])

In [66]:
df_new['country']=variable

In [67]:
from plotly.subplots import make_subplots
import plotly.graph_objects as go

fig = make_subplots(rows=3, cols=1)
for r in regions:
    df_subset=df_new.loc[df_new['country']==regions[r]]

,gauge_id,name,date,time,height,is_bubble_level_okay,notes,phone_no,country
8,AFR2,Étang de Fontargente - 1,2021-08-05,12:00:00,2195.045,Yes,NaN,NaN,FR
9,AFR2,Étang de Fontargente - 1,2021-08-05,12:00:00,2195.045,Yes,NaN,33669458621,FR
10,AFR2,Étang de Fontargente - 1,2021-07-11,12:00:00,2195.000,Yes,NaN,33699261282,FR
11,AFR2,Étang de Fontargente - 1,2021-07-14,13:00:00,2194.976,Yes,NaN,33609072718,FR
12,AFR2,Étang de Fontargente - 1,2021-07-16,13:00:00,2194.970,Yes,NaN,33688424709,FR

In [6]:
df_locss=pd.read_csv('../data/readings.csv')
df_locss_f=df_locss.loc[~df_locss['gauge_id'].isin(filter_lakes)]
df_locss_f

,gauge_id,name,date,time,height,is_bubble_level_okay,notes,phone_no
8,AFR2,Étang de Fontargente - 1,2021-08-05,12:00:00,2195.045,Yes,NaN,NaN
9,AFR2,Étang de Fontargente - 1,2021-08-05,12:00:00,2195.045,Yes,NaN,33669458621
10,AFR2,Étang de Fontargente - 1,2021-07-11,12:00:00,2195.000,Yes,NaN,33699261282
11,AFR2,Étang de Fontargente - 1,2021-07-14,13:00:00,2194.976,Yes,NaN,33609072718
12,AFR2,Étang de Fontargente - 1,2021-07-16,13:00:00,2194.970,Yes,NaN,33688424709
...,...,...,...,...,...,...,...,...
19619,ZZN2,Lake Waccamaw,2018-04-24,07:30:00,2.120,Yes,NC1009 at 7:30 am was 2.12 feet - even though ...,+19106411071
19620,ZZN2,Lake Waccamaw,2018-08-12,13:32:00,2.000,Yes,NaN,+19108401107
19621,ZZN2,Lake Waccamaw,2019-03-11,12:03:45,2.240,Yes,waves between 2.28 and 2.20,+19196243495
19622,ZZN2,Lake Waccamaw,2019-03-11,13:02:12,2.240,Yes,waves between 2.26 and 2.22 ending gps measure...,+19196243495
19623,ZZN2,Lake Waccamaw,2018-09-13,09:16:00,1.400,Yes,Measurement based on submitted photo,+19106324235